<div class="container">
  <div>
    <form #customerForm="ngForm" *ngIf="movie">
      <div class="form-group">
        <input name="id" type="text" class="form-control" [disabled]="true" [ngModel]="movie.id | uppercase">
      </div>
      <div class="form-group">
        <input name="title" type="text" class="form-control" [disabled]="true" [ngModel]="movie.title">
      </div>
      <div class="form-group">
        <input name="price" type="text" class="form-control" [disabled]="true" [ngModel]="movie.price | currency:'USD':'symbol':'2.2'">
      </div>
      <div>
        <pre class="full-profile">{{ movie | json }}</pre>
      </div>
    </form>
  </div>
  <div>
    <h6 *ngIf="!loading && movie == null" class="text-muted">Something went wrong, please try again later...</h6>
    <button class="btn btn-success" [routerLink]="['/fetch-data']">Back</button>
  </div>
</div>
