<h1>Hello Webjet</h1>
<p>Single-page application, built with <a href="{{swaggerUrl}}" target="_blank">Swagger</a><code> for Webjet API</code></p>
<ul>
  <li><a href='https://get.asp.net/' target="_blank">ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/' target="_blank">Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/' target="_blank">Bootstrap</a> for layout and styling</li>
</ul>
